cache/*.json
omniwatermask/__pycache__/*
omniwatermask/models/*.pth
water_vectors_cache/*
example/*
omniwatermask.egg-info/*
*.DS_Store
OWM_cache/*
dist/*
omniwatermask/models/models--NickWright--OmniWaterMask/*
omniwatermask/models/.locks/*
.python-version
